
body{
background-image:url("/home/6CSE1/Downloads/index.jpeg");
background-repeat:repeat-y;
background-attachment:fixed;
}
h1{
color:maroon;
margin-left:40px;
}
p.normal{
color:yellow;
margin-right:60px;
font-style:italic;
font-family:serif
font-size:40px;
}
p.warning{
color:red;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
text-align:center;
}
